In [1]:
import pandas as pd

In [14]:
living_data= pd.read_csv("UTILS/Living_openly_and-daily.csv", delimiter= ",", encoding="latin1", skiprows=11)
living_data

,CountryCode,target_group,subset,question_code,question_label,answer,percentage,notes
0,Austria,All,All,DEXa13,How old were you when you realised for the fir...,5y.o. or less,2,NaN
1,Austria,All,All,DEXa13,How old were you when you realised for the fir...,6-9y.o.,7,NaN
2,Austria,All,All,DEXa13,How old were you when you realised for the fir...,10-14y.o.,40,NaN
3,Austria,All,All,DEXa13,How old were you when you realised for the fir...,15-17y.o.,27,NaN
4,Austria,All,All,DEXa13,How old were you when you realised for the fir...,18-24y.o.,15,NaN
...,...,...,...,...,...,...,...,...
5695,EU-28,All,All,DEXschool_leav,Did you ever consider leaving or changing scho...,No,89,NaN
5696,North Macedonia,All,All,DEXschool_leav,Did you ever consider leaving or changing scho...,Yes,18,NaN
5697,North Macedonia,All,All,DEXschool_leav,Did you ever consider leaving or changing scho...,No,82,NaN
5698,Serbia,All,All,DEXschool_leav,Did you ever consider leaving or changing scho...,Yes,16,NaN
5699,Serbia,All,All,DEXschool_leav,Did you ever consider leaving or changing scho...,No,84,NaN

In [99]:
data_living = living_data.groupby("question_code")["question_label"].sum()
data_living = pd.DataFrame(data_living)
data_living

                                                         question_label
question_code
DEXa13                How old were you when you realised for the fir...
DEXa14                How old were you when you first told somebody ...
DEXavoid_hands        Do you avoid holding hands in public with a sa...
DEXavoid_places       Do you avoid certain places or locations for f...
DEXc10_1              Did your school education address at any point...
DEXg1_A               To how many family members (other than your pa...
DEXg1_B               To how many friends are you open about being L...
DEXg1_C               To how many neighbours are you open about bein...
DEXg1_D               To how many work colleagues are you open about...
DEXg1_E               To how many schoolmates / university co-studen...
DEXg1_F               To how many immediate superiors/heads of depar...
DEXg1_G               To how many customers, clients, etc. at work a...
DEXg1_H               To how many medical staff/health care provider...
DEXh17                How is your health in general?How is your heal...
DEXh18                Do you have any long-standing illness or healt...
DEXh19                In the past 2 weeks have you been feeling down...
DEXh21                Have you ever experienced any of the following...
DEXh22                Duration of housing difficulties (average in m...
DEXh23                What was the main reason for the period of hou...
DEXh8                 Have you ever moved to an EU country (and also...
DEXh9                 In the country where you have moved to (taken ...
DEXi1                 How did you come to know about this survey?How...
DEXi3                 Are you involved in one or more organisations ...
DEXindg1c             Openness about being LGBTI at workOpenness abo...
DEXindv9_2            Where do you avoid being open about yourself a...
DEXlife_sat           Satisfaction with lifeSatisfaction with lifeSa...
DEXopen_at_schoolFRA  Openness about being LGBTI at schoolOpenness a...
DEXopenness           Openness about being LGBTIOpenness about being...
DEXschool_leav        Did you ever consider leaving or changing scho...

In [16]:
socio_data = pd.read_csv("UTILS\SOCIO_DEMOGRAPHICS.csv", delimiter= ",", encoding="latin1", skiprows=11)
socio_data

,CountryCode,target_group,subset,question_code,question_label,answer,percentage,notes
0,Austria,All,All,DEXa11,Do you have citizenship of the country where t...,Yes,82,NaN
1,Austria,All,All,DEXa11,Do you have citizenship of the country where t...,No,18,NaN
2,Belgium,All,All,DEXa11,Do you have citizenship of the country where t...,Yes,80,NaN
3,Belgium,All,All,DEXa11,Do you have citizenship of the country where t...,No,20,NaN
4,Bulgaria,All,All,DEXa11,Do you have citizenship of the country where t...,Yes,97,NaN
...,...,...,...,...,...,...,...,...
1667,North Macedonia,All,All,DEXh5,What is your current family or partnership sit...,Involved in a relationship without living toge...,28,NaN
1668,North Macedonia,All,All,DEXh5,What is your current family or partnership sit...,No relationship/partner,58,NaN
1669,Serbia,All,All,DEXh5,What is your current family or partnership sit...,Living together with a partner/spouse,16,NaN
1670,Serbia,All,All,DEXh5,What is your current family or partnership sit...,Involved in a relationship without living toge...,24,NaN
1671,Serbia,All,All,DEXh5,What is your current family or partnership sit...,No relationship/partner,60,NaN

In [20]:
data_social = socio_data.groupby(["CountryCode", "question_label", "answer"])["answer"].count()
data_social = pd.DataFrame(data_social)
data_social

                                                                                                                      answer
CountryCode    question_label                                     answer
Austria        Do you have citizenship of the country where th... No                                                       1
                                                                  Yes                                                      1
               Do you raise a child / children together with y... No                                                       1
                                                                  We share care responsibilities with another per...       1
                                                                  Yes                                                      1
...                                                                                                                      ...
United Kingdom Working status                                     Retired                                                  1
                                                                  Self-employed                                            1
                                                                  Student or pupil                                         1
                                                                  Unable to work due to long-standing health prob...       1
                                                                  Unemployed                                               1

[1672 rows x 1 columns]

In [16]:
discrimination_data = pd.read_csv("UTILS\DISCRIMINATION.csv", delimiter= ",", encoding="latin1", skiprows=11)
discrimination_data

,CountryCode,target_group,subset,question_code,question_label,answer,percentage,notes
0,Austria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,47,NaN
1,Austria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,No,53,NaN
2,Belgium,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,69,NaN
3,Belgium,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,No,31,NaN
4,Bulgaria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,62,NaN
...,...,...,...,...,...,...,...,...
3033,North Macedonia,All,All,DEXschool_negcon,During your time at school did you experience ...,Never,27,NaN
3034,Serbia,All,All,DEXschool_negcon,During your time at school did you experience ...,Always,14,NaN
3035,Serbia,All,All,DEXschool_negcon,During your time at school did you experience ...,Often,29,NaN
3036,Serbia,All,All,DEXschool_negcon,During your time at school did you experience ...,Rarely,31,NaN
3037,Serbia,All,All,DEXschool_negcon,During your time at school did you experience ...,Never,26,NaN

In [ ]:
discrimination_data

In [2]:
import glob
path =r'C:\Users\Usuario\Desktop\MY_GIT_HUB\data_science_student_nov_2020\data_science_student_nov_2020\PROYECTO\SRC\UTILS'
filenames = glob.glob(path + "/*.csv")
data = pd.DataFrame()
for f in filenames:
 df = pd.read_csv(f, delimiter= ",", encoding="latin1", skiprows=11)
 data = data.append(df)
data

,CountryCode,target_group,subset,question_code,question_label,answer,percentage,notes
0,Austria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,47,NaN
1,Austria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,No,53,NaN
2,Belgium,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,69,NaN
3,Belgium,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,No,31,NaN
4,Bulgaria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,62,NaN
...,...,...,...,...,...,...,...,...
1667,North Macedonia,All,All,DEXh5,What is your current family or partnership sit...,Involved in a relationship without living toge...,28,NaN
1668,North Macedonia,All,All,DEXh5,What is your current family or partnership sit...,No relationship/partner,58,NaN
1669,Serbia,All,All,DEXh5,What is your current family or partnership sit...,Living together with a partner/spouse,16,NaN
1670,Serbia,All,All,DEXh5,What is your current family or partnership sit...,Involved in a relationship without living toge...,24,NaN
1671,Serbia,All,All,DEXh5,What is your current family or partnership sit...,No relationship/partner,60,NaN

In [3]:
data1= data.copy()
data1

,CountryCode,target_group,subset,question_code,question_label,answer,percentage,notes
0,Austria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,47,NaN
1,Austria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,No,53,NaN
2,Belgium,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,69,NaN
3,Belgium,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,No,31,NaN
4,Bulgaria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,62,NaN
...,...,...,...,...,...,...,...,...
1667,North Macedonia,All,All,DEXh5,What is your current family or partnership sit...,Involved in a relationship without living toge...,28,NaN
1668,North Macedonia,All,All,DEXh5,What is your current family or partnership sit...,No relationship/partner,58,NaN
1669,Serbia,All,All,DEXh5,What is your current family or partnership sit...,Living together with a partner/spouse,16,NaN
1670,Serbia,All,All,DEXh5,What is your current family or partnership sit...,Involved in a relationship without living toge...,24,NaN
1671,Serbia,All,All,DEXh5,What is your current family or partnership sit...,No relationship/partner,60,NaN

In [43]:
data1.CountryCode.value_counts()

EU-28              383
France             358
Germany            351
Spain              351
United Kingdom     350
Portugal           346
Italy              345
Poland             343
Netherlands        342
Belgium            341
Romania            340
Sweden             339
Slovakia           337
Finland            336
Greece             336
Czechia            335
Ireland            334
Estonia            332
Hungary            332
Denmark            330
Austria            329
Serbia             328
Croatia            328
Bulgaria           327
Malta              325
Slovenia           322
Lithuania          321
Luxembourg         320
Latvia             320
Cyprus             317
North Macedonia    312
Name: CountryCode, dtype: int64

In [44]:
data1.question_label.value_counts()

Duration of housing difficulties (average in months)                                                                                                                                     1030
In the last incident when you felt discriminated against, was it for any of the following reasons besides being LGBTI?                                                                    372
What is your religion, if any?                                                                                                                                                            370
Where do you avoid being open about yourself as LGBTI for fear of being assaulted, threatened or harassed by others?                                                                      341
Satisfaction with life                                                                                                                                                                    340
                                                                                                                                                                                         ...
In the past 12 months have you ever felt discriminated against due to being LGBTI when showing any official identification document that identifies your sex?                              62
In the past 12 months have you ever felt discriminated against due to being LGBTI by healthcare or social services personnel (e.g. a receptionist, nurse or doctor, a social worker)?      62
In the past 12 months have you personally felt discriminated against due to being LGBTI in 8 areas of life?                                                                                62
In the past 12 months have you ever felt discriminated against due to being LGBTI when at work or when looking for a job (i.e. in employment)?                                             62
In the past 12 months have you ever felt discriminated against due to being LGBTI when looking for a job?                                                                                  62
Name: question_label, Length: 64, dtype: int64

In [45]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10410 entries, 0 to 1671
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CountryCode     10410 non-null  object
 1   target_group    10410 non-null  object
 2   subset          10410 non-null  object
 3   question_code   10410 non-null  object
 4   question_label  10348 non-null  object
 5   answer          10410 non-null  object
 6   percentage      10410 non-null  object
 7   notes           64 non-null     object
dtypes: object(8)
memory usage: 1.0+ MB

In [51]:
data1.dropna(how='all').shape

(10410, 8)

In [4]:
data1.loc[data1["question_label"].isnull()]

,CountryCode,target_group,subset,question_code,question_label,answer,percentage,notes
62,Austria,All,All,DEXaware_suporg,NaN,Yes,73,NaN
63,Austria,All,All,DEXaware_suporg,NaN,No,27,NaN
64,Belgium,All,All,DEXaware_suporg,NaN,Yes,76,NaN
65,Belgium,All,All,DEXaware_suporg,NaN,No,24,NaN
66,Bulgaria,All,All,DEXaware_suporg,NaN,Yes,60,NaN
...,...,...,...,...,...,...,...,...
119,EU-28,All,All,DEXaware_suporg,NaN,No,34,NaN
120,North Macedonia,All,All,DEXaware_suporg,NaN,Yes,69,NaN
121,North Macedonia,All,All,DEXaware_suporg,NaN,No,31,NaN
122,Serbia,All,All,DEXaware_suporg,NaN,Yes,68,NaN
123,Serbia,All,All,DEXaware_suporg,NaN,No,32,NaN

In [5]:
data1= data1.loc[data1["question_label"].notna()]
data1

,CountryCode,target_group,subset,question_code,question_label,answer,percentage,notes
0,Austria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,47,NaN
1,Austria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,No,53,NaN
2,Belgium,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,69,NaN
3,Belgium,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,No,31,NaN
4,Bulgaria,All,All,DEXaware_eqbod,Knowledge of at least one equality body in cou...,Yes,62,NaN
...,...,...,...,...,...,...,...,...
1667,North Macedonia,All,All,DEXh5,What is your current family or partnership sit...,Involved in a relationship without living toge...,28,NaN
1668,North Macedonia,All,All,DEXh5,What is your current family or partnership sit...,No relationship/partner,58,NaN
1669,Serbia,All,All,DEXh5,What is your current family or partnership sit...,Living together with a partner/spouse,16,NaN
1670,Serbia,All,All,DEXh5,What is your current family or partnership sit...,Involved in a relationship without living toge...,24,NaN
1671,Serbia,All,All,DEXh5,What is your current family or partnership sit...,No relationship/partner,60,NaN

In [84]:
filtro= data1[data1["question_label"].str.contains("work")]
filtro

,CountryCode,target_group,subset,question_code,question_label,answer,percentage,notes
651,Austria,All,All,DEXc6_1_d,In the past 5 years have you experienced a gen...,Always,2,NaN
652,Austria,All,All,DEXc6_1_d,In the past 5 years have you experienced a gen...,Often,17,NaN
653,Austria,All,All,DEXc6_1_d,In the past 5 years have you experienced a gen...,Rarely,44,NaN
654,Austria,All,All,DEXc6_1_d,In the past 5 years have you experienced a gen...,Never,38,NaN
655,Belgium,All,All,DEXc6_1_d,In the past 5 years have you experienced a gen...,Always,1,NaN
...,...,...,...,...,...,...,...,...
4735,North Macedonia,All,All,DEXindg1c,Openness about being LGBTI at work,Selectively open,46,NaN
4736,North Macedonia,All,All,DEXindg1c,Openness about being LGBTI at work,Hide LGBT identity,46,NaN
4737,Serbia,All,All,DEXindg1c,Openness about being LGBTI at work,Very open,9,NaN
4738,Serbia,All,All,DEXindg1c,Openness about being LGBTI at work,Selectively open,47,NaN
4739,Serbia,All,All,DEXindg1c,Openness about being LGBTI at work,Hide LGBT identity,44,NaN

In [86]:
for palabra in data1.question_label:
    filtro= data1[data1["question_label"].str.contains("work")]
print(filtro)

          CountryCode target_group subset question_code  \
651           Austria          All    All     DEXc6_1_d
652           Austria          All    All     DEXc6_1_d
653           Austria          All    All     DEXc6_1_d
654           Austria          All    All     DEXc6_1_d
655           Belgium          All    All     DEXc6_1_d
...               ...          ...    ...           ...
4735  North Macedonia          All    All     DEXindg1c
4736  North Macedonia          All    All     DEXindg1c
4737           Serbia          All    All     DEXindg1c
4738           Serbia          All    All     DEXindg1c
4739           Serbia          All    All     DEXindg1c

                                         question_label              answer  \
651   In the past 5 years have you experienced a gen...              Always
652   In the past 5 years have you experienced a gen...               Often
653   In the past 5 years have you experienced a gen...              Rarely
654   In the past 5 years have you experienced a gen...               Never
655   In the past 5 years have you experienced a gen...              Always
...                                                 ...                 ...
4735                 Openness about being LGBTI at work    Selectively open
4736                 Openness about being LGBTI at work  Hide LGBT identity
4737                 Openness about being LGBTI at work           Very open
4738                 Openness about being LGBTI at work    Selectively open
4739                 Openness about being LGBTI at work  Hide LGBT identity

     percentage notes
651           2   NaN
652          17   NaN
653          44   NaN
654          38   NaN
655           1   NaN
...         ...   ...
4735         46   NaN
4736         46   NaN
4737          9   NaN
4738         47   NaN
4739         44   NaN

[899 rows x 8 columns]

In [10]:
data_question= data1.groupby(["question_code","question_label", "answer"])["answer"].count()
data_question = pd.DataFrame(data_question)
data_question.head(64)

                                                                            answer
question_code question_label                                     answer
DEXa11        Do you have citizenship of the country where th... No             31
                                                                 Yes            31
DEXa13        How old were you when you realised for the firs... 10-14y.o.      31
                                                                 15-17y.o.      31
                                                                 18-24y.o.      31
...                                                                            ...
DEXc7_a       In the past 5 years has anyone at work supporte... Always         31
                                                                 Never          31
                                                                 Often          31
                                                                 Rarely         31
DEXc7_b       In the past 5 years have you heard or seen anyo... Always         31

[64 rows x 1 columns]

In [9]:
data_question= data1.groupby(["CountryCode", "question_label", "answer"])["percentage"].value_counts()
data_question = pd.DataFrame(data_question)
data_question

                                                                                                                                 percentage
CountryCode    question_label                                     answer                                             percentage
Austria        Are you involved in one or more organisations f... I am a financial supporter                         4                    1
                                                                  I am an active member or volunteer                 3                    1
                                                                  I am in a regular contact                          3                    1
                                                                  I follow their activities                          14                   1
                                                                  No, I am not actively involved                     80                   1
...                                                                                                                                     ...
United Kingdom Working status                                     Retired                                            4                    1
                                                                  Self-employed                                      8                    1
                                                                  Student or pupil                                   25                   1
                                                                  Unable to work due to long-standing health prob... 4                    1
                                                                  Unemployed                                         4                    1

[10348 rows x 1 columns]

In [14]:
data1.pivot_table("CountryCode",["question_label"])

DataError: No numeric types to aggregate

In [121]:
#no me lo permite porque necesito poner un indice
data_question = data_question.loc[data_question["CountryCode"]== "Austria"]
data_question

KeyError: 'CountryCode'

In [111]:
data_question= data1.groupby("question_label")["answer"].value_counts()
data_question = pd.DataFrame(data_question)
data_question.head(10)

                                                                                       answer
question_label                                     answer
Are you involved in one or more organisations f... I am a financial supporter              31
                                                   I am an active member or volunteer      31
                                                   I am in a regular contact               31
                                                   I follow their activities               31
                                                   No, I am not actively involved          31
Did you ever consider leaving or changing schoo... No                                      31
                                                   Yes                                     31
Did you or anyone else report the last incident... 1. Reported by me                       31
                                                   2. Reported by somebody else            31
                                                   3. Not reported                         31

In [94]:
data1.question_label.value_counts()

Duration of housing difficulties (average in months)                                                                                                                                     1030
In the last incident when you felt discriminated against, was it for any of the following reasons besides being LGBTI?                                                                    372
What is your religion, if any?                                                                                                                                                            370
Where do you avoid being open about yourself as LGBTI for fear of being assaulted, threatened or harassed by others?                                                                      341
Satisfaction with life                                                                                                                                                                    340
                                                                                                                                                                                         ...
In the past 12 months have you ever felt discriminated against due to being LGBTI when showing any official identification document that identifies your sex?                              62
In the past 12 months have you ever felt discriminated against due to being LGBTI by healthcare or social services personnel (e.g. a receptionist, nurse or doctor, a social worker)?      62
In the past 12 months have you personally felt discriminated against due to being LGBTI in 8 areas of life?                                                                                62
In the past 12 months have you ever felt discriminated against due to being LGBTI when at work or when looking for a job (i.e. in employment)?                                             62
In the past 12 months have you ever felt discriminated against due to being LGBTI when looking for a job?                                                                                  62
Name: question_label, Length: 64, dtype: int64