In [10]:
from UTILS.mining_data_tb import data 
data = data.loc[data["question_label"].notna()]
data

          CountryCode target_group  ... percentage notes
0             Austria          All  ...         47   NaN
1             Austria          All  ...         53   NaN
2             Belgium          All  ...         69   NaN
3             Belgium          All  ...         31   NaN
4            Bulgaria          All  ...         62   NaN
...               ...          ...  ...        ...   ...
1667  North Macedonia          All  ...         28   NaN
1668  North Macedonia          All  ...         58   NaN
1669           Serbia          All  ...         16   NaN
1670           Serbia          All  ...         24   NaN
1671           Serbia          All  ...         60   NaN

[10348 rows x 8 columns]

In [26]:
data.groupby(["question_label","answer"])["percentage"].count()

question_label                                                   answer
Are you involved in one or more organisations for LGBTI people?  I am a financial supporter                             31
                                                                 I am an active member or volunteer                     31
                                                                 I am in a regular contact                              31
                                                                 I follow their activities                              31
                                                                 No, I am not actively involved                         31
                                                                                                                        ..
Working status                                                   Retired                                                31
                                                                 Self-employed                                          31
                                                                 Student or pupil                                       31
                                                                 Unable to work due to long-standing health problems    31
                                                                 Unemployed                                             31
Name: percentage, Length: 381, dtype: int64

In [23]:
data.question_label.value_counts()

Duration of housing difficulties (average in months)                                                                      1030
In the last incident when you felt discriminated against, was it for any of the following reasons besides being LGBTI?     372
What is your religion, if any?                                                                                             370
Where do you avoid being open about yourself as LGBTI for fear of being assaulted, threatened or harassed by others?       341
Satisfaction with life                                                                                                     340
                                                                                                                          ...
In the past 12 months have you ever felt discriminated against due to being LGBTI at a shop?                                62
In the past 12 months have you ever felt discriminated against due to being LGBTI when looking for a job?                   62
In the past 12 months have you ever felt discriminated against due to being LGBTI when trying to rent or buy housing?       62
During your time at school have you ever been ridiculed, teased, insulted or threatened because of you being LGBTI?         62
In the past 12 months have you personally felt discriminated against due to being LGBTI in 8 areas of life?                 62
Name: question_label, Length: 64, dtype: int64

In [11]:
filtro= data[data["question_label"].str.contains("work")]
filtro

          CountryCode target_group subset  ...              answer percentage notes
651           Austria          All    All  ...              Always          2   NaN
652           Austria          All    All  ...               Often         17   NaN
653           Austria          All    All  ...              Rarely         44   NaN
654           Austria          All    All  ...               Never         38   NaN
655           Belgium          All    All  ...              Always          1   NaN
...               ...          ...    ...  ...                 ...        ...   ...
4735  North Macedonia          All    All  ...    Selectively open         46   NaN
4736  North Macedonia          All    All  ...  Hide LGBT identity         46   NaN
4737           Serbia          All    All  ...           Very open          9   NaN
4738           Serbia          All    All  ...    Selectively open         47   NaN
4739           Serbia          All    All  ...  Hide LGBT identity         44   NaN

[899 rows x 8 columns]

In [22]:
filtro.question_label.value_counts()

To how many customers, clients, etc. at work are you open about being LGBTI                                                                                                              124
In the past 5 years has anyone at work supported, defended or protected you and your rights as an LGBTI person at work?                                                                  124
To how many work colleagues are you open about being LGBTI                                                                                                                               124
In the past 5 years have you heard or seen anyone at work support, protect or promote the rights of LGBTI people at work?                                                                124
In the past 5 years have you experienced a general negative attitude at work against people due to them being LGBTI?                                                                     124
Openness about being LGBTI at work                                                                                                                                                        93
In the past 12 months have you ever felt discriminated against due to being LGBTI when at work?                                                                                           62
In the past 12 months have you ever felt discriminated against due to being LGBTI by healthcare or social services personnel (e.g. a receptionist, nurse or doctor, a social worker)?     62
In the past 12 months have you ever felt discriminated against due to being LGBTI when at work or when looking for a job (i.e. in employment)?                                            62
Name: question_label, dtype: int64

In [14]:
austria_work= filtro.loc[filtro["CountryCode"] == "Austria"]
austria_work

     CountryCode target_group subset  ...              answer percentage notes
651      Austria          All    All  ...              Always          2   NaN
652      Austria          All    All  ...               Often         17   NaN
653      Austria          All    All  ...              Rarely         44   NaN
654      Austria          All    All  ...               Never         38   NaN
775      Austria          All    All  ...              Always         15   NaN
776      Austria          All    All  ...               Often         27   NaN
777      Austria          All    All  ...              Rarely         21   NaN
778      Austria          All    All  ...               Never         37   NaN
899      Austria          All    All  ...              Always          8   NaN
900      Austria          All    All  ...               Often         32   NaN
901      Austria          All    All  ...              Rarely         28   NaN
902      Austria          All    All  ...               Never         32   NaN
1147     Austria          All    All  ...                 Yes         20   NaN
1148     Austria          All    All  ...                  No         80   NaN
1271     Austria          All    All  ...                 Yes         16   NaN
1272     Austria          All    All  ...                  No         84   NaN
1581     Austria          All    All  ...                 Yes         22   NaN
1582     Austria          All    All  ...                  No         78   NaN
1422     Austria          All    All  ...                None         33   NaN
1423     Austria          All    All  ...               A few         25   NaN
1424     Austria          All    All  ...                Most         17   NaN
1425     Austria          All    All  ...                 All         25   NaN
1794     Austria          All    All  ...                None         66   NaN
1795     Austria          All    All  ...               A few         16   NaN
1796     Austria          All    All  ...                Most          9   NaN
1797     Austria          All    All  ...                 All          9   NaN
4647     Austria          All    All  ...           Very open         20   NaN
4648     Austria          All    All  ...    Selectively open         58   NaN
4649     Austria          All    All  ...  Hide LGBT identity         23   NaN

[29 rows x 8 columns]

In [37]:
austria_work.groupby(["question_label","answer"])["percentage"].sum().unstack()

answer                                             A few  All  ... Very open  Yes
question_label                                                 ...
In the past 12 months have you ever felt discri...   NaN  NaN  ...       NaN   16
In the past 12 months have you ever felt discri...   NaN  NaN  ...       NaN   22
In the past 12 months have you ever felt discri...   NaN  NaN  ...       NaN   20
In the past 5 years has anyone at work supporte...   NaN  NaN  ...       NaN  NaN
In the past 5 years have you experienced a gene...   NaN  NaN  ...       NaN  NaN
In the past 5 years have you heard or seen anyo...   NaN  NaN  ...       NaN  NaN
Openness about being LGBTI at work                   NaN  NaN  ...        20  NaN
To how many customers, clients, etc. at work ar...    16    9  ...       NaN  NaN
To how many work colleagues are you open about ...    25   25  ...       NaN  NaN

[9 rows x 13 columns]